<% provide(:title, "Home") %>
<head>
  <title>HelpPage</title>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <h1>Help</h1>
  <p>Find me in app/views/static_pages/help.html.erb</p>
  <p>Here is static file what i should do with static file?
    Learning new languages is always the best way for lerning new things
    i know it is not easy for master but know something is always good
  <p>
</head>

