<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <div style="color: red">
      <% if current_user.admin? && !current_user?(user) %>
          <!-- o day a goi den user voi method delete, thang "delete nay la de display thoi a"-->
        <%= link_to "delete", user, method: :delete,
                    data: { confirm: "Are you sure?"} %>

      <% end %>
  </div>
</li>

